意图识别+rag.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 意图识别+rag
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.3@cfb7804d9acf3e0f24b33e97e22c2600249c471f33428efa33597959b513ad2d
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.26@4f1c4ded3d189719b7dd54e9d4e5b26f724f3632f3dfaa299491b42accc112c8
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1774539016970-source-1774539089448-target
      source: '1774539016970'
      sourceHandle: source
      target: '1774539089448'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1774539089448-1-1774539205149-target
      source: '1774539089448'
      sourceHandle: '1'
      target: '1774539205149'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774539205149-true-1774539300021-target
      source: '1774539205149'
      sourceHandle: 'true'
      target: '1774539300021'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774539205149-ed671b39-6596-4b6e-b3c1-83d389ea693b-1774539338703-target
      source: '1774539205149'
      sourceHandle: ed671b39-6596-4b6e-b3c1-83d389ea693b
      target: '1774539338703'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774539338703-source-1774539418677-target
      source: '1774539338703'
      sourceHandle: source
      target: '1774539418677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774539300021-source-1774539418677-target
      source: '1774539300021'
      sourceHandle: source
      target: '1774539418677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774539205149-false-1774539418677-target
      source: '1774539205149'
      sourceHandle: 'false'
      target: '1774539418677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774539418677-source-1774539034760-target
      source: '1774539418677'
      sourceHandle: source
      target: '1774539034760'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户提问
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: query
      height: 109
      id: '1774539016970'
      position:
        x: 232
        y: 314
      positionAbsolute:
        x: 232
        y: 314
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1774539418677'
          - text
          value_type: string
          variable: text
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1774539034760'
      position:
        x: 1667
        y: 188
      positionAbsolute:
        x: 1667
        y: 188
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 机器学习
        - id: '2'
          name: 大模型
        - id: '1774539183154'
          name: 其他
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-4b
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1774539016970'
        - query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1774539089448'
      position:
        x: 649
        y: 330
      positionAbsolute:
        x: 649
        y: 330
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 84cb6273-1968-4c79-abbf-2db0959ef161
            value: 机器学习
            varType: string
            variable_selector:
            - '1774539089448'
            - class_name
          id: 'true'
          logical_operator: and
        - case_id: ed671b39-6596-4b6e-b3c1-83d389ea693b
          conditions:
          - comparison_operator: contains
            id: 374485e5-b146-4c51-9fa8-71926d084d29
            value: 大模型
            varType: string
            variable_selector:
            - '1774539089448'
            - class_name
          id: ed671b39-6596-4b6e-b3c1-83d389ea693b
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 220
      id: '1774539205149'
      position:
        x: 951
        y: 330
      positionAbsolute:
        x: 951
        y: 330
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - uRt/0Q5QQRx3OjVCEX1hg0uKIQuBmhH7KViFJ9h/A8GBWq3lMFIjRd7EDM9UE/iI
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1774539016970'
        - query
        retrieval_mode: multiple
        selected: true
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1774539300021'
      position:
        x: 1281
        y: 223
      positionAbsolute:
        x: 1281
        y: 223
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - KKRpNRglQ/t607K+jI6qcmDb0HDNHMa72i6LeOA5FRwhZopBF8PQl2qCyVGYu6GV
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: langgenius/openai/openai
              vector_weight: 1
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1774539016970'
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1774539338703'
      position:
        x: 1266
        y: 346
      positionAbsolute:
        x: 1266
        y: 346
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3-4b
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 5f62bc94-39a4-41c8-b7bc-444800d325b0
          role: system
          text: '你是一个智能助手。


            # 上下文信息

            {{#context#}}



            # 指令

            如果上下文中有相关信息，请根据上下文回答用户的问题：{{#sys.query#}}

            如果上下文中没有信息（即用户属于“其他”意图），请直接根据你自己的知识回答。'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774539418677'
      position:
        x: 1613
        y: 442
      positionAbsolute:
        x: 1613
        y: 442
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -771
      y: -7
      zoom: 1
  rag_pipeline_variables: []
