陈鹏/week09/体脂健康助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 体脂健康助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 104857600
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1774417050246-source-1774417538013-target
      selected: false
      source: '1774417050246'
      sourceHandle: source
      target: '1774417538013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1774417538013-source-llm-target
      source: '1774417538013'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: llm-source-1774418287693-target
      source: llm
      sourceHandle: source
      target: '1774418287693'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: answer
      id: 1774418287693-source-answer-target
      source: '1774418287693'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 体重(kg)
          max_length: 5
          options: []
          placeholder: ''
          required: true
          type: number
          variable: weigth
        - hint: ''
          label: 性别
          max_length: 2
          options:
          - 男
          - 女
          placeholder: ''
          required: true
          type: select
          variable: sex
        - default: ''
          hint: ''
          label: 身高(cm)
          options: []
          placeholder: ''
          required: true
          type: number
          variable: height
        - default: ''
          hint: ''
          label: 年龄
          options: []
          placeholder: ''
          required: true
          type: number
          variable: age
      height: 186
      id: '1774417050246'
      position:
        x: -380.55881541478954
        y: 295.08562258109936
      positionAbsolute:
        x: -380.55881541478954
        y: 295.08562258109936
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#1774417050246.sex#}}

            {{#1774417050246.weigth#}}

            {{#1774417050246.height#}}

            {{#1774417050246.age#}}

            {{#sys.query#}}{{#1774417538013.body_fat_percentage#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-flash-2026-02-23
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: d061ec94-b50b-4e4f-8f5d-a1060f45644d
          role: system
          text: 你是营养专家，请结合用户的体脂比状态给出有效的建议。
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm
      position:
        x: 60.33606324344021
        y: 409.3201915868733
      positionAbsolute:
        x: 60.33606324344021
        y: 409.3201915868733
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#1774418287693.output#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 512.8542918471435
        y: 419.76679834642675
      positionAbsolute:
        x: 512.8542918471435
        y: 419.76679834642675
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(sex: str, height: int, weight: int, age: int) -> dict:\n \
          \   # 计算 BMI\n    bmi = weight / (height / 100) ** 2\n    \n    # 根据性别选择不同的体脂率计算公式\n\
          \    if sex.lower() == '男':\n        # 男性体脂率计算公式 (包含年龄因素)\n        body_fat_percentage\
          \ = 1.2 * bmi + 0.23 * age - 16.2\n    elif sex.lower() == '女':\n      \
          \  # 女性体脂率计算公式 (包含年龄因素)\n        body_fat_percentage = 1.2 * bmi + 0.23\
          \ * age - 5.4\n    else:\n        # 如果性别输入不正确，返回错误信息\n        return {\"\
          error\": \"性别输入错误，请输入 '男' 或 '女'\"}\n\n    # 确保体脂率在合理范围内\n    if body_fat_percentage\
          \ < 0:\n        body_fat_percentage = 0\n    elif body_fat_percentage >\
          \ 100:\n        body_fat_percentage = 100\n\n    return {\"body_fat_percentage\"\
          : round(body_fat_percentage, 2)}"
        code_language: python3
        outputs:
          body_fat_percentage:
            children: null
            type: number
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1774417050246'
          - sex
          value_type: string
          variable: sex
        - value_selector:
          - '1774417050246'
          - weigth
          value_type: number
          variable: weight
        - value_selector:
          - '1774417050246'
          - height
          value_type: number
          variable: height
        - value_selector:
          - '1774417050246'
          - age
          value_type: number
          variable: age
      height: 51
      id: '1774417538013'
      position:
        x: -21.000208081045685
        y: 173.8102714412227
      positionAbsolute:
        x: -21.000208081045685
        y: 173.8102714412227
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "## 用户基本信息\r\n\r\n- 性别 {{ sex }}\r\n- 身高 {{ height }}\r\n- 体重 {{\
          \ weight }}\r\n- 年龄 {{ age }}\r\n\r\n## 体脂比\r\n\r\n{{ body_fat_percentage\
          \ }}\r\n\r\n## 健康建议\r\n\r\n{{ text }}\r\n"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1774417050246'
          - sex
          value_type: string
          variable: sex
        - value_selector:
          - '1774417050246'
          - height
          value_type: number
          variable: height
        - value_selector:
          - '1774417050246'
          - weigth
          value_type: number
          variable: weight
        - value_selector:
          - '1774417050246'
          - age
          variable: age
        - value_selector:
          - '1774417538013'
          - body_fat_percentage
          value_type: number
          variable: body_fat_percentage
        - value_selector:
          - llm
          - text
          value_type: string
          variable: text
      height: 51
      id: '1774418287693'
      position:
        x: 420.57593213775476
        y: 179.2458422770855
      positionAbsolute:
        x: 420.57593213775476
        y: 179.2458422770855
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 310.51613028391205
      y: -21.571122116551123
      zoom: 0.5743491774985183
  rag_pipeline_variables: []
