党知源/week09/作业2意图识别问答机器学习和深度学习.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: 作业2-意图识别
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1-source-2-target
      source: '1'
      sourceHandle: source
      target: '2'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 2-intent1-3
      source: '2'
      sourceHandle: '1'
      target: '3'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 3-8
      source: '3'
      sourceHandle: source
      target: '8'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 5-9
      source: '5'
      sourceHandle: source
      target: '9'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 7-10
      source: '7'
      sourceHandle: source
      target: '10'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 2-3-1774508598040-target
      source: '2'
      sourceHandle: '3'
      target: '1774508598040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774508598040-source-7-target
      source: '1774508598040'
      sourceHandle: source
      target: '7'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 2-2-1774508635785-target
      source: '2'
      sourceHandle: '2'
      target: '1774508635785'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774508635785-source-5-target
      source: '1774508635785'
      sourceHandle: source
      target: '5'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - label: 用户提问
          max_length: 2048
          options: []
          required: true
          type: text-input
          variable: question
      height: 109
      id: '1'
      position:
        x: 40
        y: 260
      positionAbsolute:
        x: 40
        y: 260
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 意图1
        - id: '2'
          name: 意图2
        - id: '3'
          name: 意图3
        instruction: '你只需要从三类中选择一个最合适的意图，并输出 JSON。

          类别定义：

          - 意图1：非机器学习、非大模型主题（常识/其他学科的一般问题）

          - 意图2：机器学习相关问题（如：监督/无监督/损失函数/优化/过拟合/特征工程/训练与评估等）

          - 意图3：大模型相关问题（如：LLM/RAG/Prompt/微调/对齐/推理/Transformer注意力等）

          '
        instructions: ''
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1'
        - question
        selected: false
        title: 意图识别
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '2'
      position:
        x: 319
        y: 260
      positionAbsolute:
        x: 319
        y: 260
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: c1111111-1111-1111-1111-111111111111
          role: system
          text: 你是一个通用助手。直接回答用户问题即可。
        - id: c2222222-2222-2222-2222-222222222222
          role: user
          text: 用户问题：{{#1.question#}}
        selected: false
        title: 意图1-直接LLM回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '3'
      position:
        x: 620
        y: 120
      positionAbsolute:
        x: 620
        y: 120
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - yVDBepqrWEwQXKV8kO2qIa12bXwkR6mnUMl/fYzAKNRwpzghvAHQccHM8wY5Y0FH
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1'
        - question
        retrieval_mode: multiple
        selected: false
        title: 知识检索 3
        type: knowledge-retrieval
      height: 90
      id: '1774508635785'
      position:
        x: 620
        y: 260
      positionAbsolute:
        x: 620
        y: 260
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774508635785'
          - result
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: d1111111-1111-1111-1111-111111111111
          role: system
          text: '你是答题助手。请只根据知识库上下文回答；如果上下文不足，说明“知识库未找到足够信息”并建议用户换问法。

            '
        - id: d2222222-2222-2222-2222-222222222222
          role: user
          text: '用户问题：{{#1.question#}}

            知识库上下文：

            {{#context#}}

            '
        selected: false
        title: 意图2-RAG回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '5'
      position:
        x: 900
        y: 260
      positionAbsolute:
        x: 900
        y: 260
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - oYHuhWD8402k0b/ks6GCsfQGp8EnI3wqvEao0MTbhWxJod9Fyb4G+x3z26kpGiPO
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1'
        - question
        retrieval_mode: multiple
        selected: false
        title: 知识检索 3
        type: knowledge-retrieval
      height: 90
      id: '1774508598040'
      position:
        x: 620
        y: 400
      positionAbsolute:
        x: 620
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774508598040'
          - result
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: e1111111-1111-1111-1111-111111111111
          role: system
          text: '你是答题助手。请只根据知识库上下文回答；如果上下文不足，说明“知识库未找到足够信息”并建议用户换问法。

            '
        - id: e2222222-2222-2222-2222-222222222222
          role: user
          text: '用户问题：{{#1.question#}}

            知识库上下文：

            {{#context#}}

            '
        selected: false
        title: 意图3-RAG回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '7'
      position:
        x: 900
        y: 400
      positionAbsolute:
        x: 900
        y: 400
      selected: false
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '3'
          - text
          variable: answer
        selected: false
        title: 结束-意图1
        type: end
      height: 88
      id: '8'
      position:
        x: 1160
        y: 160
      positionAbsolute:
        x: 1160
        y: 160
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '5'
          - text
          variable: answer
        selected: false
        title: 结束-意图2
        type: end
      height: 88
      id: '9'
      position:
        x: 1160
        y: 300
      positionAbsolute:
        x: 1160
        y: 300
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '7'
          - text
          variable: answer
        selected: false
        title: 结束-意图3
        type: end
      height: 88
      id: '10'
      position:
        x: 1160
        y: 440
      positionAbsolute:
        x: 1160
        y: 440
      type: custom
      width: 242
    viewport:
      x: -29
      y: 96
      zoom: 1
  rag_pipeline_variables: []
