韦潇/week09/作业1/应用-体脂健康建议（含年龄）.yml
app:
  description: ''
  icon: йҰғоҳ»
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: жҗҙж—Ӯж•Ө-жөЈж’№еүӣйҚӢгғҘжӮҚеҜӨйёҝоҶ…й”ӣе қжғҲйӘһж’®з·һй”ӣ?  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1750247789086-source-1750247864708-target
      source: '1750247789086'
      sourceHandle: source
      target: '1750247864708'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1750247864708-source-1750248183676-target
      source: '1750247864708'
      sourceHandle: source
      target: '1750248183676'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1750248183676-source-1750248311782-target
      source: '1750248183676'
      sourceHandle: source
      target: '1750248311782'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1750248311782-source-1750248397090-target
      selected: false
      source: '1750248311782'
      sourceHandle: source
      target: '1750248397090'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: еҜ®вӮ¬жҝ®?        type: start
        variables:
        - label: йҺ¬СғеҹҶ
          max_length: 48
          options:
          - йҗў?          - жҝӮ?          required: true
          type: select
          variable: sex
        - label: йҹ¬оӮҰзҸ®й”ӣеқҲmй”ӣ?          max_length: 48
          options: []
          required: true
          type: number
          variable: height
        - label: жөЈж’»еҷёй”ӣеқҳgй”ӣ?          max_length: 48
          options: []
          required: true
          type: number
          variable: weight
        - label: йӘһж’®з·һ
          max_length: 48
          options: []
          required: true
          type: number
          variable: age
      height: 187
      id: '1750247789086'
      position:
        x: 41.261386632606474
        y: 284.04
      positionAbsolute:
        x: 41.261386632606474
        y: 284.04
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(sex: str, height: int, weight: int, age: int) -> dict:\n \
          \   # жөјжЁәеҜІжөЈж’№еүӣйҗңеӣ§еҸ•еҜ®еҝҘзҙқйҚ”зҠІеҸҶйӘһж’®з·һйҚҘзҠІз“ҷй”ӣе ҹжҙҝз’җжқ‘жӮҺзҖ№зӮәжӘҜйҗЁеӢ®о…ёз» жҘҖеҸ•еҜ®еҝҘзҙҡ\n    bmi = weight / (height / 100) ** 2\n\
          \    if sex.lower() == 'йҗў?:\n        # йҗўй”ӢвӮ¬СӮз¶Ӣй‘ҙеӮңе·јз’Ғпј„з•»йҚҸо„ҖзҙЎй”ӣе қжғҲйӘһж’®з·һй”ӣеЎЎn        body_fat_percentage\
          \ = (1.2 * bmi) + (0.23 * age) - 16.2\n    elif sex.lower() == 'жҝӮ?:\n  \
          \      # жҝӮиҷ«вӮ¬СӮз¶Ӣй‘ҙеӮңе·јз’Ғпј„з•»йҚҸо„ҖзҙЎй”ӣе қжғҲйӘһж’®з·һй”ӣеЎЎn        body_fat_percentage = (1.2 * bmi) + (0.23\
          \ * age) - 5.4\n\n    # зәӯоҶ»з№ҡжөЈж’№еүӣйҗңеӣ§ж№ӘйҚҡе ўжӮҠй‘јеҶЁжҙҝйҚҗеҢјn    body_fat_percentage = max(0, min(100,\
          \ body_fat_percentage))\n\n    return {\"body_fat_percentage\": round(body_fat_percentage,\
          \ 2)}\n"
        code_language: python3
        desc: ''
        outputs:
          body_fat_percentage:
            children: null
            type: number
        selected: false
        title: жө пҪҮзҲңйҺөСҶо”‘
        type: code
        variables:
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247789086'
          - age
          variable: age
      height: 52
      id: '1750247864708'
      position:
        x: 119.37959695587244
        y: 442.91994626078304
      positionAbsolute:
        x: 119.37959695587244
        y: 442.91994626078304
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: f3024c0a-017c-4519-96d8-a53a4e2a62c5
          role: system
          text: жөЈзҠіж§ёй’ҖгғҘеҗҮж¶“ж’іоҶҚй”ӣеІғоҮ¬зјҒж’іжӮҺйҗўг„ҰеҹӣйҗЁеӢ¬вӮ¬СғеҹҶйҠҶдҪёеӢҫжҰ«еӢ©вӮ¬дҪҪйҹ©жҘӮжЁёвӮ¬дҪ·з¶Ӣй–Іе¶ғвӮ¬дҪ·з¶Ӣй‘ҙеӮӣзҳ®йҗҳиҲөвӮ¬дҫҠзҙқзјҒж¬Ҹеҡӯз»—п№ҖжӮҺз’ҮгғҘеӢҫжҰ«еӢ¬оҶҢйҗўзҶәжӮҠйҗ—з‘°з·ӣйҗЁеӢӘйҮңйҺ¬СғеҜІйҚӢгғҘжӮҚеҜӨйёҝоҶ…й”ӣе қеҜҳйҺ·о„„гӮ®жӨӢзҶҙвӮ¬дҪҪз№ҚйҚ”г„ЈвӮ¬дҪәж•“еЁІи®ізҜ„йҺҜоҲңз“‘йҸӮеҪ’жҪ°й”ӣеӨҲвӮ¬?        - id: f78173fa-6b4e-4f0b-9728-b39614a2d899
          role: user
          text: 'йҺ¬СғеҹҶй”ӣжӯҝ{#1750247789086.sex#}}

            йӘһж’®з·һй”ӣжӯҝ{#1750247789086.age#}}

            йҹ¬оӮҰзҸ®й”ӣжӯҝ{#1750247789086.height#}}

            жөЈж’»еҷёй”ӣжӯҝ{#1750247789086.weight#}}

            жөЈж’№еүӣе§Јж—“зҙ°{{#1750247864708.body_fat_percentage#}}'
        selected: false
        structured_output_enabled: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1750248183676'
      position:
        x: 218
        y: 520.1696554776656
      positionAbsolute:
        x: 218
        y: 520.1696554776656
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        template: '## йҗўг„ҰеҹӣйҚ©зғҳж№°ж·Үв„ғдј…


          - йҺ¬СғеҹҶй”ӣжӯҝ{ sex }}

          - йӘһж’®з·һй”ӣжӯҝ{ age }}

          - йҹ¬оӮҰзҸ®й”ӣжӯҝ{ height }}cm

          - жөЈж’»еҷёй”ӣжӯҝ{ weight }}kg


          ## жөЈж’№еүӣе§Ј?
          {{ body_fat_percentage }}%


          ## йҚӢгғҘжӮҚеҜӨйёҝоҶ…


          {{ text }}'
        title: еҰҜв„ғжҫҳжқһо„ҒеҙІ
        type: template-transform
        variables:
        - value_selector:
          - '1750247789086'
          - height
          variable: height
        - value_selector:
          - '1750247789086'
          - weight
          variable: weight
        - value_selector:
          - '1750247864708'
          - body_fat_percentage
          variable: body_fat_percentage
        - value_selector:
          - '1750248183676'
          - text
          variable: text
        - value_selector:
          - '1750247789086'
          - sex
          variable: sex
        - value_selector:
          - '1750247789086'
          - age
          variable: age
      height: 52
      id: '1750248311782'
      position:
        x: 361.62340886861296
        y: 352.1309477828468
      positionAbsolute:
        x: 361.62340886861296
        y: 352.1309477828468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1750248311782'
          - output
          variable: output
        selected: false
        title: зјҒж’ҙжҪ«
        type: end
      height: 88
      id: '1750248397090'
      position:
        x: 507
        y: 431
      positionAbsolute:
        x: 507
        y: 431
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 169.58193837478348
      y: -280.04869310824495
      zoom: 1.4337867223331473
  rag_pipeline_variables: []
