sunxiangguo/week09/task02/意图识别-RAG问答.yml
app:
  description: 智能意图识别与RAG问答系统 - 支持机器学习/大模型知识库检索，基于用户问题自动分类并从相应知识库获取准确答案
  icon: 🧠
  icon_background: '#6366F1'
  icon_type: emoji
  mode: workflow
  name: 智能意图识别-RAG问答
  use_icon_as_answer_icon: true
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好！我是智能问答助手，可以帮您解答机器学习和大模型相关的问题。请直接输入您的问题。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 什么是随机森林算法？
    - 什么是RAG技术？
    - 如何选择机器学习模型？
    - 介绍一下Transformer架构
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: start-classifier
      source: start
      sourceHandle: source
      target: classifier
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: classifier-other
      source: classifier
      sourceHandle: other
      target: llm_other
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: classifier-ml
      source: classifier
      sourceHandle: ml
      target: retrieval_ml
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: classifier-llm
      source: classifier
      sourceHandle: llm
      target: retrieval_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-ml-to-llm
      source: retrieval_ml
      sourceHandle: source
      target: llm_ml
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: retrieval-llm-to-llm
      source: retrieval_llm
      sourceHandle: source
      target: llm_llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm-other-to-end
      source: llm_other
      sourceHandle: source
      target: end_other
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm-ml-to-end
      source: llm_ml
      sourceHandle: source
      target: end_ml
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: llm-llm-to-end
      source: llm_llm
      sourceHandle: source
      target: end_llm
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户问题
          options: []
          placeholder: 请输入您的问题
          required: true
          type: text-input
          variable: query
      height: 108
      id: start
      position:
        x: 58
        y: 201
      positionAbsolute:
        x: 58
        y: 201
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: other
          name: 其他问题
        - id: ml
          name: 机器学习问题
        - id: llm
          name: 大模型问题
        instruction: '你是一个专业的意图分类器。请根据用户问题，判断其属于哪个类别。

          ## 分类规则

          ### other - 其他问题
          包括但不限于：
          - 日常闲聊（你好、天气、周末愉快等）
          - 生活娱乐（电影、音乐、美食等）
          - 不涉及AI/机器学习/大模型的通用问题

          ### ml - 机器学习问题
          包括但不限于：
          - 传统机器学习算法：线性回归、逻辑回归、决策树、随机森林、SVM、KNN、K-means、DBSCAN、PCA
          - 深度学习基础：CNN、RNN、LSTM、GRU
          - 机器学习概念：梯度下降、损失函数、过拟合、欠拟合、特征工程、交叉验证、模型评估、训练集/测试集

          ### llm - 大模型问题
          包括但不限于：
          - 大语言模型：LLM、GPT、BERT、Llama、Claude
          - 模型架构：Transformer、Attention机制、多头注意力、位置编码
          - 大模型技术：RAG、向量数据库、Embedding、Prompt工程、微调/预训练、Agent、LangChain
          - 大模型应用：语义搜索、文本生成、代码生成、多模态

          ## 重要提示
          1. 如果问题同时涉及多个领域，选择最核心、最匹配的分类
          2. 关键词优先级：大模型相关 > 机器学习相关 > 其他
          3. 严格按照用户问题判断，不要添加主观猜测

          ## 输出要求
          只输出分类ID（other/ml/llm），不要输出分类名称或任何解释文字。'
        model:
          completion_params:
            temperature: 0.05
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - start
        - query
        selected: false
        title: 意图识别
        type: question-classifier
        vision:
          enabled: false
      height: 207
      id: classifier
      position:
        x: 360
        y: 202
      positionAbsolute:
        x: 360
        y: 202
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-other
          role: system
          text: '你是一个友好、专业、有温度的智能助手。

          ## 回答原则
          1. 提供准确、有帮助的回答
          2. 语言简洁明了，避免冗长
          3. 如果不知道答案，诚实说明，不要编造
          4. 可以适当使用emoji增加亲和力
          5. 保持对话的连贯性和友好性

          ## 当前场景
          用户的问题是其他类型问题（非机器学习/大模型相关），请用自然、友好的方式回答。

          '
        - id: user-other
          role: user
          text: '{{#start.query#}}'
        selected: false
        structured_output_enabled: false
        title: LLM-直接回答
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_other
      position:
        x: 664
        y: 80
      positionAbsolute:
        x: 664
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval_ml
          - result
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-ml
          role: system
          text: '你是一个机器学习专家，擅长用通俗易懂的语言解释复杂概念。

          ## 回答原则
          1. **严格基于参考资料**：只使用提供的参考资料回答问题
          2. **信息准确性**：不要编造或补充知识库外的信息
          3. **回答结构化**：使用清晰的层次结构和适当的分段
          4. **专业且易懂**：既保持专业性，又确保初学者能够理解
          5. **实用导向**：尽可能提供实际应用示例

          ## 参考资料
          {{#retrieval_ml.result#}}

          ## 特殊情况处理
          - 如果参考资料为空或无关，请明确说明："抱歉，当前知识库中没有找到相关内容，建议您换个问题或提供更多上下文。"
          - 如果参考信息不完整，请基于已有信息回答，并说明："基于现有知识库信息，我可以告诉您..."

          '
        - id: user-ml
          role: user
          text: '用户问题：{{#start.query#}}

          请基于以上参考资料提供专业且易懂的回答。'
        selected: false
        structured_output_enabled: false
        title: LLM-机器学习回答
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_ml
      position:
        x: 664
        y: 222
      positionAbsolute:
        x: 664
        y: 222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: true
          variable_selector:
          - retrieval_llm
          - result
        model:
          completion_params:
            temperature: 0.6
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-llm
          role: system
          text: '你是一个大语言模型和AI领域的专家，擅长深入浅出地讲解前沿技术。

          ## 回答原则
          1. **严格基于参考资料**：只使用提供的参考资料回答问题
          2. **信息准确性**：不要编造或补充知识库外的信息
          3. **回答结构化**：使用清晰的层次结构、要点和适当的代码示例
          4. **专业且易懂**：既保持专业性，又确保学习者能够理解
          5. **前沿导向**：关注最新的技术趋势和实践

          ## 参考资料
          {{#retrieval_llm.result#}}

          ## 特殊情况处理
          - 如果参考资料为空或无关，请明确说明："抱歉，当前知识库中没有找到相关内容，建议您换个问题或提供更多上下文。"
          - 如果参考信息不完整，请基于已有信息回答，并说明："基于现有知识库信息，我可以告诉您..."

          '
        - id: user-llm
          role: user
          text: '用户问题：{{#start.query#}}

          请基于以上参考资料提供专业且易懂的回答。'
        selected: false
        structured_output_enabled: false
        title: LLM-大模型回答
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_llm
      position:
        x: 664
        y: 360
      positionAbsolute:
        x: 664
        y: 360
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 请替换为实际的机器学习知识库ID
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 5
        query_attachment_selector: []
        query_variable_selector:
        - start
        - query
        retrieval_mode: multiple
        selected: false
        title: 机器学习-知识检索
        type: knowledge-retrieval
      height: 89
      id: retrieval_ml
      position:
        x: 1000
        y: 220
      positionAbsolute:
        x: 1000
        y: 220
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 请替换为实际的大模型知识库ID
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 5
        query_attachment_selector: []
        query_variable_selector:
        - start
        - query
        retrieval_mode: multiple
        selected: true
        title: 大模型-知识检索
        type: knowledge-retrieval
      height: 89
      id: retrieval_llm
      position:
        x: 1000
        y: 360
      positionAbsolute:
        x: 1000
        y: 360
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - llm_other
          - text
          value_type: string
          variable: answer
        - value_selector:
          - classifier
          - class_name
          value_type: string
          variable: intent
        selected: false
        title: 其他问题-输出
        type: end
      height: 113
      id: end_other
      position:
        x: 965
        y: 80
      positionAbsolute:
        x: 965
        y: 80
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - llm_ml
          - text
          value_type: string
          variable: answer
        - value_selector:
          - classifier
          - class_name
          value_type: string
          variable: intent
        - value_selector:
          - retrieval_ml
          - result
          value_type: array[object]
          variable: retrieved_docs
        selected: false
        title: 机器学习-输出
        type: end
      height: 139
      id: end_ml
      position:
        x: 1301
        y: 222
      positionAbsolute:
        x: 1301
        y: 222
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - llm_llm
          - text
          value_type: string
          variable: answer
        - value_selector:
          - classifier
          - class_name
          value_type: string
          variable: intent
        - value_selector:
          - retrieval_llm
          - result
          value_type: array[object]
          variable: retrieved_docs
        selected: false
        title: 大模型-输出
        type: end
      height: 139
      id: end_llm
      position:
        x: 1301
        y: 360
      positionAbsolute:
        x: 1301
        y: 360
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -437.8402870066925
      y: 5.894224665896729
      zoom: 0.6597539553864477
  rag_pipeline_variables: []
