于博淞/week09/作业2_意图识别+RAG.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 作业_意图识别+RAG
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774506749566-source-1774506751625-target
      source: '1774506749566'
      sourceHandle: source
      target: '1774506751625'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774506751625-source-1774506764936-target
      source: '1774506751625'
      sourceHandle: source
      target: '1774506764936'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774506768092-source-1774506772124-target
      source: '1774506768092'
      sourceHandle: source
      target: '1774506772124'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774506772124-source-1774506774119-target
      source: '1774506772124'
      sourceHandle: source
      target: '1774506774119'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1774506632583-source-1774507236739-target
      source: '1774506632583'
      sourceHandle: source
      target: '1774507236739'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1774507236739-1774507256920-llm-target
      source: '1774507236739'
      sourceHandle: '1774507256920'
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774507236739-1-1774506749566-target
      source: '1774507236739'
      sourceHandle: '1'
      target: '1774506749566'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774507236739-2-1774506768092-target
      source: '1774507236739'
      sourceHandle: '2'
      target: '1774506768092'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1774506632583'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: f389e8fb-ea2e-47b3-b591-b72193e45f29
          role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 934
        y: 335
      positionAbsolute:
        x: 934
        y: 335
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1440
        y: 350
      positionAbsolute:
        x: 1440
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - WGp9Php/lvATG7erCOMYSbz0vQyXmh4OIjoGUYWO7BT9mshKXjVVewajx5Un/sdT
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774506632583'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1774506749566'
      position:
        x: 769
        y: 507
      positionAbsolute:
        x: 769
        y: 507
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: fb6f8d98-27d0-4eaa-8b4f-a14c61ce1326
          role: system
          text: ''
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774506751625'
      position:
        x: 1061
        y: 513
      positionAbsolute:
        x: 1061
        y: 513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: LLM2{{#1774506751625.text#}}
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1774506764936'
      position:
        x: 1363
        y: 513
      positionAbsolute:
        x: 1363
        y: 513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - UHwmHXEOpxCk1UObGUN7a2huukv2oFiZUg3x3DOXV/2QGigf6Zjmn7qCGX6wDRXD
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774506632583'
        - sys.query
        retrieval_mode: multiple
        selected: true
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1774506768092'
      position:
        x: 736
        y: 679
      positionAbsolute:
        x: 736
        y: 679
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 74468459-29f3-4c86-8d95-cbdf2241a327
          role: system
          text: ''
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774506772124'
      position:
        x: 1061
        y: 709
      positionAbsolute:
        x: 1061
        y: 709
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: LLM3{{#1774506772124.text#}}
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1774506774119'
      position:
        x: 1402
        y: 709
      positionAbsolute:
        x: 1402
        y: 709
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1774507256920'
          name: 非机器学习/大模型
        - id: '1'
          name: 大模型
        - id: '2'
          name: 机器学习
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1774506632583'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1774507236739'
      position:
        x: 442
        y: 277
      positionAbsolute:
        x: 442
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -471.87782281927434
      y: -205.08111477896114
      zoom: 0.7184611881033173
  rag_pipeline_variables: []
