孙家瑞/week09/作业2_知识库问答.yml
app:
  description: 可以利用大模型识别意图，并结合对应的知识库回答相关问题
  icon: book
  icon_background: '#FEF7C3'
  icon_type: emoji
  mode: advanced-chat
  name: 知识库问答
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1774450092935-llm
      source: '1774450092935'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: llm-source-1774450498800-target
      source: llm
      sourceHandle: source
      target: '1774450498800'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774450498800-true-1774450110108-target
      source: '1774450498800'
      sourceHandle: 'true'
      target: '1774450110108'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1774450498800-3b3a0401-ae68-460f-8e01-3ad133fd5ca7-1774450670632-target
      source: '1774450498800'
      sourceHandle: 3b3a0401-ae68-460f-8e01-3ad133fd5ca7
      target: '1774450670632'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1774450498800-false-1774450848534-target
      source: '1774450498800'
      sourceHandle: 'false'
      target: '1774450848534'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774450110108-source-1774451298769-target
      source: '1774450110108'
      sourceHandle: source
      target: '1774451298769'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774450670632-source-1774451391136-target
      source: '1774450670632'
      sourceHandle: source
      target: '1774451391136'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774451298769-source-1774451654043-target
      source: '1774451298769'
      sourceHandle: source
      target: '1774451654043'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774451391136-source-1774451663125-target
      source: '1774451391136'
      sourceHandle: source
      target: '1774451663125'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774450848534-source-1774451909688-target
      source: '1774450848534'
      sourceHandle: source
      target: '1774451909688'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1774450092935'
      position:
        x: -41
        y: 261
      positionAbsolute:
        x: -41
        y: 261
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 011be271-8085-408e-b53c-40f487e40371
          role: system
          text: '你是一个知识领域的专家，可以根据用户的输入，成功辨别出用户问题的相关领域


            目前有如下三个领域：

            1. 机器学习相关

            2. 大语言模型相关

            3. 其他


            你需要按照用户的输入，输出对应的数字

            示例如下：

            机器学习包含那些方向 -> 1

            BERT相比传统词向量模型有哪些核心优势 -> 2

            马冬梅是那部剧里的角色 -> 3'
        selected: false
        title: 用户意图识别
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 273.4842834334896
        y: 282
      positionAbsolute:
        x: 273.4842834334896
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - X3/lg6Uefi/YpLUdZRb3PSuOpTIirDcAY9otEzdWM/wyTuJL7Lt85xkK0vVgw6Ie
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: 机器学习知识库
        type: knowledge-retrieval
      height: 90
      id: '1774450110108'
      position:
        x: 1109.7221647407646
        y: 286.5471496995312
      positionAbsolute:
        x: 1109.7221647407646
        y: 286.5471496995312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 755e47d5-5bd3-4a08-be28-22220b327257
            value: '1'
            varType: string
            variable_selector:
            - llm
            - text
          id: 'true'
          logical_operator: and
        - case_id: 3b3a0401-ae68-460f-8e01-3ad133fd5ca7
          conditions:
          - comparison_operator: is
            id: 255ab652-e836-47a9-824a-4efe4795de2a
            value: '2'
            varType: string
            variable_selector:
            - llm
            - text
          id: 3b3a0401-ae68-460f-8e01-3ad133fd5ca7
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 172
      id: '1774450498800'
      position:
        x: 678.279983514391
        y: 282
      positionAbsolute:
        x: 678.279983514391
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - C65pE9BtQwYMe9y9ZNOyzX1iMfH8ZF3pVwAe8HZ/Ii1ssFMIu31Vw9oWbWIwQg5a
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - sys
        - query
        retrieval_mode: multiple
        selected: false
        title: LLM知识库
        type: knowledge-retrieval
      height: 90
      id: '1774450670632'
      position:
        x: 1121.825419544649
        y: 454.87915946044006
      positionAbsolute:
        x: 1121.825419544649
        y: 454.87915946044006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: fd5db716-1211-4ab4-93e9-8a3ee616f515
          role: system
          text: 你是一个问题回答大师，可以根据用户的提问回答任何问题，你的回答都很简要，不会超过300字。
        - id: 30a27d0f-8054-4a3b-9319-77ffaa09c900
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774450848534'
      position:
        x: 1238.7686038265317
        y: 717.9787437920573
      positionAbsolute:
        x: 1238.7686038265317
        y: 717.9787437920573
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774450110108'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 5ad6b192-dbf2-4ff8-b4fd-64af70a4cab6
          role: system
          text: 你可以根据给定的知识库{{#context#}}，和用户的提问，给出相应的回答
        - id: 821840bb-0e8b-46f9-ac53-4dc0fb128dad
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 知识回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774451298769'
      position:
        x: 1414.355683777791
        y: 286.5471496995312
      positionAbsolute:
        x: 1414.355683777791
        y: 286.5471496995312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774450670632'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 9f5455da-ff84-4863-add7-773735526cf8
          role: system
          text: 你可以根据给定的知识库{{#context#}}，和用户的提问，给出相应的回答
        - id: 0d1e6fed-fa00-448f-8aac-e7182cac89a5
          role: user
          text: '{{#sys.query#}}'
        selected: false
        title: LLM回答
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774451391136'
      position:
        x: 1414.355683777791
        y: 454.87915946044006
      positionAbsolute:
        x: 1414.355683777791
        y: 454.87915946044006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774451298769.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1774451654043'
      position:
        x: 1716.355683777791
        y: 286.5471496995312
      positionAbsolute:
        x: 1716.355683777791
        y: 286.5471496995312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774451391136.text#}}'
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 103
      id: '1774451663125'
      position:
        x: 1716.355683777791
        y: 454.87915946044006
      positionAbsolute:
        x: 1716.355683777791
        y: 454.87915946044006
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774450848534.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1774451909688'
      position:
        x: 1540.7686038265317
        y: 717.9787437920573
      positionAbsolute:
        x: 1540.7686038265317
        y: 717.9787437920573
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -868.6993828719735
      y: -207.98028925738652
      zoom: 0.8447020720211552
  rag_pipeline_variables: []
